html {
    font-size: 14px;
    box-sizing: border-box;
  }
  
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* MOBILE DEVICES - PORTRAIT */

.parent {
  display:grid;
  grid-template-rows: minmax(50px auto);
  grid-template-columns: 1fr;
  grid-template-areas:  "hdgArea"
                        "nameArea"
                        "checkInArea"
                        "checkOutArea"
                        "typeOfWorkArea"
                        "keypadArea";
  background-color: lightgrey;
}

.hdg {
  grid-area:hdgArea;
  display:grid;
  width:100%;
  grid-template-rows:1fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas:  "titleArea  versionArea"
                        ". settingsArea";
  background-color: navy;
  color:white;
  align-content:center;
}
.title {
  grid-area:titleArea;
  font-size:1rem;
  align-items:left;
  text-align:left;
}

.settings {
  grid-area:settingsArea;
  font-size:.75rem;
}
.version {
  grid-area:versionArea;
  font-size:.75rem;
  text-align:right;
  margin-right:20px;
}
.nameDisplay {
  display:inline;
  grid-area:nameArea;
  font-size:1em;
  padding-left:10px;
  text-align:center;
  background-color:navy;
  color:white;
}

#memberName {
  background-color: white;
  color:navy;
  border-radius: 5px;
  text-align:center;
}
.checkInTime {
  grid-area: checkInArea;
  background-color: navy;
  color:white;
  text-align: center;
  padding-left:10px;
  border-radius: 5px;
}
.checkOutTime {
  grid-area: checkOutArea;
  text-align: center;
  background-color: navy;
  color:white;
}
.checkInTime input {
  border-radius: 5px;
}
.checkOutTime input {
  border-radius: 5px;
}
/* ----------------------------------------------------------  */

.typeOfWork {
  grid-area:typeOfWorkArea;
  border-radius: 5px;
  width: 60%;
  background-color:maroon;
  margin-left:40px;
}

.typeOfWorkSelected {
  text-align:center;
}
.typeOfWorkSelected input {
  width:60%;
  height: 40px;
  text-align:center;
  background-color:white;
  color:maroon;
  border-radius: 5px;
  font-size: 2rem;
}

.typeOfWork-keys {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
/*  ----------------------------------------------------------- */
.keypad {
  grid-area:keypadArea;
  background-color: lightsalmon;
  width:60%;
  margin-left:30px;
}

.calculator {
    border: 3px solid silver; 
    border-radius: 5px;
    position: relative;
    top: 60%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color:brown;
  }
  
.calculator-screen {
  width: 80%;
  font-size: 5rem;
  height: 60px;
  border: solid;
  background-color:white;
  color: slategrey;
  text-align: center;
  padding-right: 20px;
  padding-left: 10px;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

#displayID {
  text-align:center;
  border-radius: 5px;
}
.typeOfWork-keys button {
  height: 60px;
  width:100;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: gray;
  font-size: 1.5rem;
  color:white;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
}
.calculator-keys button {
  height: 60px;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  background-color: gray;
  font-size: 1.5rem;
  color:white;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover {
  background-color: gray;
  color:blue !important;
}
button:disabled {
  background-color:gray;
}
.operator {
  color: #337cac;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.enter-key {
  background-color:green;
  border-color:green;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 2fr repeat(2, minmax(75px, 1fr));
}

.gridTypeOfWork {
  display: grid;
  grid-template-columns: repeat(2, minmax(75px, 1fr));
  grid-template-rows: repeat(4, 75px);
  }

  

.displayResults {
  display:flex;
  flex-direction: row;
  align-content: flex-start;
  width: 25%;
  font-size: 10rem;
  height: 20px;
  border: solid;
  background-color:white;
  color:green;
}
  .row .col {
    height: 100px;
    background: green;
  }

.modal-body{
  font-size: 2em;
  text-align: left;
}
/* ------------------------------------------------------------------------------ */
/* ---------------------- MEDIA QUERIES ----------------------------------------- */
/* ------------------------------------------------------------------------------ */
/* iPad PORTRAIT */
 @media (min-width: 768px) {
.parent {
  display:grid;
  grid-template-rows:50px 50px 50px 25px 1fr 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:  "hdgArea      hdgArea"
                      "nameArea       checkInArea"
                      "nameArea       checkOutArea"
                      ".  ."
                      "typeOfWorkArea keypadArea"
                      "footerArea     footerArea";
  background-color: navy;
}
 } 
/* -------------------------------------------------------------------------------------- */

 /*  iPAD LANDSCAPE */
 /* @media (min-width: 1024px) {
  .parent {
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: lightblue;
  }
   } */

/* -------------------------------------------------------------------------------------- */
/* LAPTOPS AND MONITORS */
@media (min-width: 1024px) {
.parent {
  margin-left:0px;
  margin-right:0px;
  display:grid;
  grid-template-rows:50px 50px 50px 25px 1fr 100px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:  "hdgArea      hdgArea"
                      "nameArea       checkInArea"
                      "nameArea       checkOutArea"
                      ".  ."
                      "typeOfWorkArea keypadArea"
                      "footerArea     footerArea";
  background-color: lightgray;
}

.hdg {
  grid-area:hdgArea;
  display:grid;
  width:100%;
  grid-template-rows:50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:  "titleArea  settingsArea  versionArea";
  background-color: navy;
  color:white;
}
.title {
  grid-area:titleArea;
  font-size:1.5rem;
  align-items:center;
  padding-top:.5em;
}
.settings {
  grid-area:settingsArea;
  text-align:center;
  font-size:2rem;
  height:50px;
}
.version {
  grid-area:versionArea;
  padding-top: 0;
  padding-bottom: 1em;
  text-align:right;
  font-size:1.5rem;
}
.nameDisplay {
  display:inline;
  grid-area:nameArea;
  background-color: lightgrey;
  color:navy;
  font-size:2em;
  padding-top:20px;
}

.checkInTime {
  font-size:2em;
  background-color: lightgrey;
  color:green;
  padding-top:5px;
}

.checkOutTime {
  font-size: 2em;
  background-color: lightgrey;
  color:red;
  padding-top:5px;
}


.typeOfWork {
  grid-area:typeOfWorkArea;
  border-radius: 5px;
  width: 80%;
  background-color:maroon;
}

.typeOfWorkSelected {
  text-align:center;
}
.typeOfWorkSelected input {
  width:60%;
  height: 50px;
  text-align:center;
  background-color:white;
  color:blue;
  border-radius: 5px;
  font-size: 2rem;
}

.typeOfWork-keys {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.keypad {
  grid-area:keypadArea;
  background-color: silver;
  width:70%;
  margin-left:100px;
}

.calculator {
  border: 3px solid silver; 
  border-radius: 5px;
  position: relative;
  top: 60%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color:brown;
}
  
.calculator-screen {
  width: 75%;
  font-size: 5rem;
  height: 70px;
  border: solid;
  background-color:white;
  color: slategrey;
  text-align: center;
  padding-right: 20px;
  padding-left: 10px;
  margin-top:10px;
}
  
.calculator-keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

/* 


button {
  height: 80px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background-color: darkgrey;
  font-size: 2rem;
  color:white;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
} */
  
  button:hover {
    background-color: #eaeaea;
    color:blue;
  }
  
  .operator {
    color: #337cac;
  }
  
  .all-clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
  }

  .enter-key {
    background-color:green;
    border-color:green;
    color: #fff;
  }
  
  .all-clear:hover {
    background-color: #f17377;
  }
  
  .equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
  }
  
  .equal-sign:hover {
    background-color: #4e9ed4;
  }
  
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 2fr repeat(2, minmax(75px, 1fr));
  }

  .gridTypeOfWork {
    display: grid;
    grid-template-columns: repeat(2, minmax(75px, 1fr));
    grid-template-rows: repeat(4, 75px);
   }

  

  .displayResults {
    display:flex;
    flex-direction: row;
    align-content: flex-start;
    width: 25%;
    font-size: 10rem;
    height: 20px;
    border: solid;
    background-color:white;
    color:green;
  }
   .row .col {
     height: 100px;
     background: green;
   }
  
  
   } 

   #settingsModalID {
     width: 500px;
   }
   #settingsForm {
     width: 500px;
   }