{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkin.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">  
{% endblock %}
{% block title %}CHECK IN{% endblock %}
{% block scripts %}
	{{super()}}
	<script src="{{ url_for('static', filename='js/checkin.js') }}">  </script>
{% endblock %}

{% block content %}
<div class="parent">
  <div class= "hdg">
    <div class="title">
      <div><span>THE VILLAGES WOODWORKERS CLUB </span></div>
    </div>
    
    <div class="version">
      ver. Aug 13, 2021
      <!-- <input type="text" id="delaySec" readonly style=text-align:center;margin-left:20px;width:60px > -->
      <label id="delaySec"
        style='text-align:center;margin-left:35px;margin-top:5px;width:60px;height:35px;border:1px solid white;color:white;padding-top:0px' >
    </div>  

    <div class="settings">
      <input id='shopID' type="hidden" value = '{{shopID}}'>
      <label id='locationID'>Location - 
        {% if shopID == 'RA' %}
        Rolling Acres
        {% else %}
        Brownwood
        {% endif %}
      </label> 
    </div>
    
  </div>  
  <!-- ------------------------------------------------------------------------------- -->
  <div class="nameDisplay">
    <label for="memberName" style=margin-left:10px;margin-right:10px;>Name:</label>
    <input type="text"id="memberName" style=size:30 value=" ">
  </div>
  <!-- ------------------------------------------------------------------------------- -->

  <div class="checkInTime">
    <label for="checkInTime">Check in time:</label>
    <input type="text" id="checkInTime" style = color:green;width:25%;text-align:center; value="">
  </div>  
  <!-- ------------------------------------------------------------------------------- -->
  <div class="checkOutTime">
    <label for="checkOutTime">Check out time:</label>
    <input type="text"id="checkOutTime" style = color:red;width:25%;text-align:center; value="">
  </div>
  
  <!-- ------------------------------------------------------------------------------- -->
  
  <div id='typeOfWorkID' class="typeOfWork">
    <div class="typeOfWorkSelected">
      <input type="text" id=typeOfWork placeholder="" value="" disabled />
    </div>
    <div class = "typeOfWork-keys">
      <button type="button" value="Administrative">Administrative</button>
      <button type="button" value="Carver">Carver</button>
      <button type="button" value="Education">Education</button>
      <button type="button" value="General">General</button>
      <button type="button" value="Painting">Painting</button>
    
      <button type="button" value="Repair">Repair</button>
      <button type="button" value="Safety">Safety</button>
      <button type="button" value="Spec Proj">Spec Proj</button>
      <button type="button" value="Stained Glass">Stained Glass</button>
      <button type="button" value="Toys">Toys</button>
      <button type="button" value="Turner">Turner</button>
    </div>
  </div>

    <!-- ---------------------------------------------------------------------------- -->
   
  <div id='keypadID' class="keypad">
    <div id="displayID">
      <input id="memberInput" type="text" autofocus="autofocus" class="calculator-screen" maxlength='6' placeholder="" value="">
    </div>
  
    <div class="calculator-keys">
      
      <button type="button" value="1">1</button>
      <button type="button" value="2">2</button>
      <button type="button" value="3">3</button>
  
      <button type="button" value="4">4</button>
      <button type="button" value="5">5</button>
      <button type="button" value="6">6</button>
  
      <button type="button" value="7">7</button>
      <button type="button" value="8">8</button>
      <button type="button" value="9">9</button>
  
      <button type="button" class="all-clear" value="all-clear">CLR</button>
      <button type="button" value="0">0</button>
      <button id="enterKey" type="button" class="enter-key" disabled value="enter">Enter</button>
  
    </div> <!-- END OF calculator-KEYS -->
  </div>  <!-- END OF KEYPAD -->   
</div> <!-- END OF PARENT -->



<!-- Modal for Alert, error messages. -->
<div class="modal fade" id="myModalMsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modalTitle"></h2>
        <button type="button" class="close" onclick=closeModal() aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id=modalBody style=text-align:center>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style=height:30px onclick=closeModal() data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Confirm. -->
<div class="modal fade" id="myModalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modalConfirmTitle"></h2>
        <button type="button" class="close" onclick=closeConfirmModal() aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id=modalConfirmBody style=text-align:center>
       
      </div>
      <div class="modal-footer">
        <button id='modalConfirmBtn1' type='button' class='btn btn-success' style=height:30px onclick=closeConfirmModalBtn1()></button>
        <button id='modalConfirmBtn2' type="button" class="btn btn-danger" style=height:30px onclick=closeConfirmModalBtn2() data-dismiss="modal"></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for note to member. -->
<div class="modal fade" id="myModalNote" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modalNoteTitle"></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id=modalBody style=text-align:center>
        <textarea name="note" id="noteID" cols="20" rows="10" class="note"></textarea>
      </div>
      <div class="modal-footer">
        <input type="hidden" id="memberID" name="memberID">
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" style=height:30px onclick="deleteNote()">DELETE NOTE</button>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" style=height:30px  onclick="closeNote()">SAVE NOTE</button>
      </div>
    </div>
  </div>
</div>

 <!-- MODAL FOR SETTING CLIENT LOCATION AND/OR DELAY TIME IN SECONDS-->
<div id="settingsModalID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <form id='settingsForm' action="#" name='settingsForm' onsubmit="updateSettings(this);">
      <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="modalCoursePrereqTitle" >Check In Settings</h3>
            <input type="hidden" id="modalSectionNumber">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" >&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <!-- <div id='locationOptions'> 
            <div class="locationOptions row btn-group-vertical">
              <label for="">Select one of the following -</label>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="locationOption" id="locationOptionRA" value="RA">
                  <label class="form-check-label" for="locationOptionRA">
                      Rolling Acres  
                  </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="locationOption" id="locationOptionBW" value="BW">
                <label class="form-check-label" for="locationOptionBW">
                    Brownwood
                </label>
              </div>
            </div>
          </div>   -->

          <div class='setDelayTime row'>
            <label for="delayTimeID" style=margin-left:5rem>Set screen delay time in seconds -</label>
            <input type="number" id="delayTimeID" name='delayTime'
              style="border:1px solid black; color:blue;width:50px;text-align:center;" min=1 max=5>
          </div>     
        </div>

        <div class="modal-footer">
            <div class='col-6 footer-left-col'>
                <button id='cancelBtn' type='button' class='btn-secondary 'onclick='cancelSettings()'>Cancel</button>   
            </div> 
            <div class='col-6 footer-right-col'> 
                <button id='saveBtn' type="submit" class="btn-primary">Save</button>
            </div>
        </div>
          
      </div>
    </form> 
  </div>
</div>

{% endblock %}