{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkin.css') }}">  
{% endblock %}
{% block title %}Check In{% endblock %}
{% block scripts %}
	{{super()}}
	<script src="{{ url_for('static', filename='js/checkin.js') }}">  </script>
{% endblock %}

{% block content %}
<div class="parent">
  <div class= "hdg">
    <h1>THE VILLAGES WOODWORKERS CLUB</h1>
    <h5>ver. 11/22/2020</h5>
  </div>  
  <!-- ------------------------------------------------------------------------------- -->
  <div class="nameDisplay">
    <div>
      <label for="memberName" style=margin-left:10px;margin-right:10px;>Name:</label>
      <input type="text"id="memberName" style=size:30 value=" ">
    </div>
  </div>
  <!-- ------------------------------------------------------------------------------- -->

  <div class="checkInTime">
    <label for="checkInTime">Check in time:</label>
    <input type="text" id="checkInTime" style = color:green;width:25%;text-align:center; value="">
  </div>  
  <!-- ------------------------------------------------------------------------------- -->
  <div class="checkOutTime">
    <label for="checkOutTime">Check out time:</label>
    <input type="text"id="checkOutTime" style = color:red;width:25%;text-align:center; value="">
  </div>
  
  <!-- ------------------------------------------------------------------------------- -->
  
  <div class="typeOfWork">
    <div class="typeOfWorkSelected">
      <input type="text" id=typeOfWork placeholder="General" value="General" disabled />
    </div>
    <div class = "typeOfWork-keys">
      <button type="button" value="Admin">Admin</button>
      <button type="button" value="Carver">Carver</button>
      <button type="button" value="Education">Education</button>
      <button type="button" value="General">General</button>
      <button type="button" value="Painting">Painting</button>
    
      <button type="button" value="Repair">Repair</button>
      <button type="button" value="Spec Proj">Spec Proj</button>
      <button type="button" value="Stained Glass">Stained Glass</button>
      <button type="button" value="Toys">Toys</button>
      <button type="button" value="Turner">Turner</button>
    </div>
  </div>

    <!-- ---------------------------------------------------------------------------- -->
   
  <div class="keypad">
    <div id="displayID">
      <input  type="text" class="calculator-screen" maxlength='6' id="memberInput" placeholder="" value="">
    </div>
  
    <div class="calculator-keys">
      
      <button id="calculatorKey" type="button" value="7">7</button>
      <button id="calculatorKey" type="button" value="8">8</button>
      <button id="calculatorKey" type="button" value="9">9</button>
  
      <button id="calculatorKey" type="button" value="4">4</button>
      <button id="calculatorKey" type="button" value="5">5</button>
      <button id="calculatorKey" type="button" value="6">6</button>
  
      <button id="calculatorKey" type="button" value="1">1</button>
      <button id="calculatorKey" type="button" value="2">2</button>
      <button id="calculatorKey" type="button" value="3">3</button>
  
      <button id="calculatorKey" type="button" class="all-clear" value="all-clear">CLR</button>
      <button id="calculatorKey" type="button" value="0">0</button>
      <button id="calculatorKey" type="button" class="enter-key" value="enter">Enter</button>
  
    </div> <!-- END OF CALCULATOR-KEYS -->
  </div>  <!-- END OF KEYPAD -->   
</div> <!-- END OF PARENT -->



    <!-- Modal for error messages. -->
<div class="modal fade" id="myModalMsg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id=modalBody style=text-align:center>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for note to member. -->
<div class="modal fade" id="myModalNote" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modalNoteTitle"></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id=modalBody style=text-align:center>
        <textarea name="note" id="noteID" cols="20" rows="10" class="note"></textarea>
      </div>
      <div class="modal-footer">
        <input type="hidden" id="memberID" name="memberID">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="deleteNote()">DELETE NOTE</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">SAVE NOTE</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}